body{
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}
input[type="text"]{
 -webkit-appearance: none;
 border: none;
 border-bottom: 1px solid black;
}
.valueone{
  padding: 9em 0 1cm 0;
}
.container{
  max-width: none;
  width: 100%;
  display: block;
}
.container video{
  position: absolute;
  top: 15vh;
  left: 13vw;
  -webkit-box-shadow: 10px 11px 18px -2px rgba(0,0,0,0.56);
  -moz-box-shadow: 10px 11px 18px -2px rgba(0,0,0,0.56);
  box-shadow: 10px 11px 18px -2px rgba(0,0,0,0.56);
}
.chatbox{
  height: 350px;
  width: 400px;
  position: absolute;
  top: 15vh;
  right: 10vw;
  -webkit-box-shadow: 10px 11px 18px -2px rgba(0,0,0,0.56);
  -moz-box-shadow: 10px 11px 18px -2px rgba(0,0,0,0.56);
  box-shadow: 10px 11px 18px -2px rgba(0,0,0,0.56);
  z-index: 1000;
  background-color: white;
}

.chatbox_upbar{
  width: 100%;
  height: 10%;
}
.dropdown_btn{
  width: 10%;
  padding-left: 1%;
  cursor: pointer;
  z-index: 0;
}
.dropdown_logo{
  position: relative;
}
.dropdown_logo,
.dropdown_logo::after,
.dropdown_logo::before{
  width: 20px;
  height: 2px;
  background-color: black;
  display: inline-block;
  z-index: -1;
}
.dropdown_logo::after,.dropdown_logo::before{
  position: absolute;
  content: "";
}
.dropdown_logo::before{
  top: 3px;
}
.dropdown_logo::after{
  top: -3px;
}
#con{
  position: absolute;
  top: 4px;
  left: 10%;
  transition: all .5s;
}
.exit_btn{
  position:relative;
  left: 94%;
  top: -16px;
}
.exit_btn::after,
.exit_btn::before{
  background: black;
  width: 20px;
  height: 2px;
  content: "";
}
.exit_btn::after{
  transform: rotate(45deg);
  position: absolute;
}
.exit_btn::before{
  transform: rotate(-45deg);
  position: absolute;
}
.mini_btn{
  position: absolute;
  background: black;
  width: 20px;
  height: 2px;
  top: 25px;
  left: 85%;
}
.dropdownbox{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 30%;
  position: absolute;
  text-align: center;
  opacity: 0;
  transform: translateY(-10px);
  transition: all .5s;
  z-index: 1;
}

.dd_opt{
  padding-left: 0;
  text-decoration: none;
  list-style: none;
  background: white;
  cursor: pointer;
}
.chatbox_midbar{
  width: 100%;
  height: 75%;
  background-color: #f56e6e;
  transition: all .5s;
}
.chatarea{
  float: left;
  width: 90%;
  background: white;
  height: 96%;
  margin-left: 1%;
  margin-top: 1%;
  background-color: #eeeeee;
  border-radius: 1%;
  overflow-y: scroll;
  scrollbar-width: thin;
}
.chatarea::-webkit-scrollbar {
 }
.chatarea_side{
  float: right;
  width: 7%;
  background: white;
  height: 100%;
}
.indicator{
  width: 4px;
  height: 100%;
  background: red;
  float: left;
  transition: all .5s;
}
.chatarea_btn,
.pnotes_btn{
  width: 134px;
  height: 23px;
  color: white;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: bold;
  transform: rotate(90deg);
  position: absolute;
  left: 80%;
  cursor: pointer;
}
.chatarea_btn{
  background-color: red;
  top: 26%;
}
.pnotes_btn{
  background-color: #0465b5;
  bottom: 31%;
}
.chatbox_downbar{
  width: 100%;
  height: 15%;
  position: absolute;
  bottom: 0;
}
.comment_insight,
.commentarea,
.post_btn{
  height: 14%;
  position: absolute;
  cursor: pointer;
}
.comment_insight{
  width: 10%;
  left: 0;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  line-height: normal;
}

.commentarea{
  width: 80%;
  left: 10%;
  border:none;
  outline: none;

}

.post_btn{
  width: 10%;
  height: 100%;
  right: 0%;
  background: white;
  border: none;
}
.post_btn:hover{
  background: white;
  border: none;
}
form{
  margin: 0;
  height: 100%;
}
.post_btn img{
  width: 30px;
  height: 30px;
  margin-top: 10px;
}
input[type="text"]{
  width: 75%;
  font-size: 16px;
}
input[type="text"]:focus{
  border: none;
  box-shadow: none;
}
input[type="password"]{
  border: none;
}
input[type="password"]:focus{
  border: none;
  box-shadow: none;
}
#ilb{
  z-index: 0;
}
#ilb img{
  z-index: -1;
  height: 25px;
  width: 25px;
}
.insight_list{
  list-style: none;
  position: absolute;
  bottom: 6%;
  left: 1%;
  background: white;
  padding: 0;
  transition: all .5s;
  opacity: 0;
}
.reaction{
  width: 35px;
  height: 35px;
  display: inline-block;
}
.reaction img{
  height: 100%;
  width: 100%;
  display: block;
}
.loda{
  display: none;
  opacity: 0;
}
.main7{
  display: block;
  background-color: #eeeeee;
  height: 100%;
}
.main1,.main5,.main6 {display: none;
  background-color: #FFFFFF;
  height: 100%;
}
.main3 {display: none;
  background-color: #FFFFFF;
  height: 100%;
}
.main2 {display: none;
  background-color: #FFFFFF;
  height: 100%;
}
.main4 {display: none;
  background-color: #FFFFFF;
  height: 100%;
}
.welcome{
  margin: 0;
  text-align: center;
}
#m{
  color: white;
}

.username {
  width: 76%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.2);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.08);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: 'Ubuntu', sans-serif;
}



.pass {
  width: 76%!important;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
  border-bottom: 1px solid black!important;
}

.submit {
  cursor: pointer;
  border-radius: 0.1em;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  width: 30%;
  margin-left: 35%!important;
  line-height: 30px!important;
  height: 25%!important;
  padding: 0!important;
  margin-top: 5%!important;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
  font-size: 18px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.submit1,.submit3 {
  cursor: pointer;
  border-radius: 0.1em;
  color: #fff;
  background: linear-gradient(to right, #9C27B0, #E040FB);
  border: 0;
  width: 30%;
  margin-left: 35%!important;
  line-height: 30px!important;
  height: 25%!important;
  padding: 0!important;
  margin-top: 5%!important;
  font-family: 'Ubuntu', sans-serif;
  margin: 0 auto;
  font-size: 18px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
a {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #E1BEE7;
  text-decoration: none
}
.username:hover{
  cursor: pointer;
}

.pass:hover{
  cursor:pointer;
}
.contenty{
  text-align: center;
  font-weight: 500;
  padding-top: 30%;
}
.displaya{
  background: #eeeeee;
  height: fit-content;
}
.topicy,
.submitposty{
  display: block;
}
.topic,
.submitpost{
  display: none;
}
.sort_method{
    position: absolute;
    top: 10px;
    left: 25%;
    border: none;
    font-size: medium;
    height: min-content;
    width: fit-content;
    -webkit-appearance: listbox;
}
.sort_method:focus{
  border: none;
  box-shadow: none;
}
  .comment_u,
.timestamp{
  font-size: small!important;
  font-style: italic!important;
}
.timestamp{
  display: block;
  position: absolute;
  right: 10px;
  top: 0
}
.comment_display{
  height: fit-content;
  background: antiquewhite;
  width: fit-content;
  min-width: 60%;
  max-width: 100%;
  position: relative;
  padding-left: 5px;
}
.comment_content{
  max-width: 100%;
  padding-top: 10px;
  font-size: 14px;
}
.reply_btn{
  position: absolute;
    right: 0;
    bottom: -18px;
    height: fit-content;
    width: fit-content;
    font-size: x-small;
    cursor: pointer;
}
.reply_column{
  text-align: -webkit-right;
  display: none;
}
.reply{
  width: 60%!important;
  display: inline-block!important;
  margin-bottom: 10px;
  
}
.submitreply{
  background-color: inherit!important;
  border: none;
  box-shadow: none;
  padding: 0;
}
.tick{
  width: 25px;
  height: 25px;
}
.comment_react{
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.reactionhide{
  display:none;
}
.graph{
  list-style: none;
  width: 600px;
  height: 92px;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(255,255,255,0.75);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(255,255,255,0.75);
  box-shadow: inset 0px 0px 10px 0px rgba(255,255,255,0.75);
  position: absolute;
  top: calc(15vh + 250px);
  left: 13vw;  
  padding: 0;
  transform: scaleY(.6) translateY(50px);
  transform: all .9s;
  opacity: 0.5;
}
.graph:hover{
  transform: scale(1) translateY(0);
  opacity: 1
}
.graph li{
  content: '.';
  width: 5%;
  height: 100%;
  padding: 0;
  border-left: 1px solid white;
  display: inline-block;
}
