body{
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  display: none;
}
input[type="text"]{
 -webkit-appearance: none;
 border: none;
 border-bottom: 1px solid black;
}
.container{
  max-width: none;
}
.container video{
  position: relative;
  left: 13vw;
  -webkit-box-shadow: 10px 11px 18px -2px rgba(0,0,0,0.56);
  -moz-box-shadow: 10px 11px 18px -2px rgba(0,0,0,0.56);
  box-shadow: 10px 11px 18px -2px rgba(0,0,0,0.56);
}
.chatbox{
  height: 350px;
  width: 400px;
  position: absolute;
  top: 15vh;
  right: 10vw;
  -webkit-box-shadow: 10px 11px 18px -2px rgba(0,0,0,0.56);
  -moz-box-shadow: 10px 11px 18px -2px rgba(0,0,0,0.56);
  box-shadow: 10px 11px 18px -2px rgba(0,0,0,0.56);
  z-index: 1000;
  background-color: white;
}

.chatbox_upbar{
  width: 100%;
  height: 10%;
}
.dropdown_btn{
  width: 10%;
  padding-left: 1%;
  cursor: pointer;
  z-index: 0;
}
.dropdown_logo{
  position: relative;
}
.dropdown_logo,
.dropdown_logo::after,
.dropdown_logo::before{
  width: 20px;
  height: 2px;
  background-color: black;
  display: inline-block;
  z-index: -1;
}
.dropdown_logo::after,.dropdown_logo::before{
  position: absolute;
  content: "";
}
.dropdown_logo::before{
  top: 3px;
}
.dropdown_logo::after{
  top: -3px;
}
#con{
  position: absolute;
  top: 4px;
  left: 10%;
  transition: all .5s;
}
.exit_btn{
  position:relative;
  left: 94%;
  top: -16px;
}
.exit_btn::after,
.exit_btn::before{
  background: black;
  width: 20px;
  height: 2px;
  content: "";
}
.exit_btn::after{
  transform: rotate(45deg);
  position: absolute;
}
.exit_btn::before{
  transform: rotate(-45deg);
  position: absolute;
}
.mini_btn{
  position: absolute;
  background: black;
  width: 20px;
  height: 2px;
  top: 25px;
  left: 85%;
}
.dropdownbox{
  list-style: none;
  margin: 0;
  padding: 0;
  width: 30%;
  position: absolute;
  text-align: center;
  opacity: 0;
  transform: translateY(-10px);
  transition: all .5s;
}

.dd_opt{
  padding-left: 0;
  text-decoration: none;
  list-style: none;
  background: white;
  cursor: pointer;
}
.chatbox_midbar{
  width: 100%;
  height: 75%;
  background-color: #f56e6e;
  transition: all .5s;
}
.chatarea{
  float: left;
  width: 90%;
  background: white;
  height: 96%;
  margin-left: 1%;
  margin-top: 1%;
  background-color: #eeeeee;
  border-radius: 1%;
}
.chatarea_side{
  float: right;
  width: 7%;
  background: white;
  height: 100%;
}
.indicator{
  width: 4px;
  height: 100%;
  background: red;
  float: left;
  transition: all .5s;
}
.chatarea_btn,
.pnotes_btn{
  width: 134px;
  height: 23px;
  color: white;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: bold;
  transform: rotate(90deg);
  position: absolute;
  left: 80%;
  cursor: pointer;
}
.chatarea_btn{
  background-color: red;
  top: 26%;
}
.pnotes_btn{
  background-color: #0465b5;
  bottom: 31%;
}
.chatbox_downbar{
  width: 100%;
  height: 15%;
}
.comment_insight,
.commentarea,
.post_btn{
  height: 14%;
  position: absolute;
  cursor: pointer;
}
.comment_insight{
  width: 10%;
  left: 0;
}
.comment_insight img{
  height: 22px;
  width: 22px;
  margin: 10px;
}

.commentarea{
  width: 80%;
  left: 10%;
  border:none;
  outline: none;

}

.post_btn{
  width: 10%;
  height: 15%;
  right: 0%;
  background: white;
  border: none;
}
.post_btn:hover{
  background: white;
  border: none;
}
form{
  margin: 0;
  height: 100%;
}
.post_btn img{
  width: 30px;
  height: 30px;
  margin-top: 10px;

}
input[type="text"]{
  width: 75%;
  font-size: 16px;

}
