.controls{
  list-style: none;
  width: 100%;
  height: fit-content;
  padding: 0 13vw;
  position: absolute;
  left: 0;
  top: calc(15vh + 335px);
}
.controls li{
  display: inline;
  padding: 0;
  height: fit-content;
  box-shadow: none;
}

.controls button{
  padding: 0;
  height: fit-content;
  box-shadow: none;
  background-color: inherit;
  border: none;
}
.progress{
  display: block!important;
}
.positioner{
  width: 20%;
    padding: 0 210px!important;
    opacity: 0;
}
